<div class="text">
    <h2>Services at Home</h2>
    
    <hr>
    <div class="container">
        <div class="text-danger">
            <h3>Hair Care Price</h3>
        </div>
        <p> Some companies will mention fixed prices in their apps/websites. as they mentioned the fixed price, in some companies there is a chance of replacing less quality spare parts. The price varies depending on the company and the quality. Our technicians replace the best quality spare parts according to your convenience.</p>
            <div class="table-responsive">
                <table class="table table-bordered  table-hover ">
                    <tr class="table-success">
                        <th>Type of Service</th>
                        <th>Min price</th>
                        <th>Max price</th>
                    </tr>
                    <tr class="">
                        <td>Straight cut</td>
                        <td>Rs. 350</td>
                        <td>Rs. 650</td>		
                    </tr>
                    <tr class="">
                        <td>Feather cut</td>
                        <td>Rs. 399</td>
                        <td>Rs. 750</td>		
                    </tr>
                    <tr class="">
                        <td>Layer cut</td>
                        <td>Rs. 590</td>
                        <td>Rs. 950</td>		
                    </tr>
                    <tr class="">
                        <td>U cut</td>
                        <td>Rs. 650</td>
                        <td>Rs. 900</td>		
                    </tr><tr class="">
                        <td>V Cut</td>
                        <td>Rs. 399</td>
                        <td>Rs. 550</td>		
                    </tr>
                </table>
            </div>
            <button class="btn btn-info" routerLink="/">Back to Home Page </button>
    </div>
    </div>
    
        
    
